* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


h1 {
    font-size: xx-large;
}

body {
    /* background-color: rgb(80, 64, 64); */
    background-color: black;
}

.main-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background: black;
    color: navy;
    width: 100%;
}

header {
    display: inline;
}

#navigation li {
    display: inline-flex;
    justify-content: space-between;
    padding: 0px 60px 10px 0px;
    font-size: larger;
}

#navigation a:hover{
    color: white;
}

#navigation a {
    text-decoration: none;
}

.sub-header {
    background-image: url(images/blue-background.png);
    background-size: 100%;
    display: flex;
}

#sub-header-image {
    display: inline-flex;
    justify-content: end;
    margin-left: auto;
    margin-right: 30px;
    padding: 20px;
    
}

#sub-header-text {
    display: inline-flex;
    /* align-items: center; */
    font-size: x-large;
    color: white;
    margin-left: 40px;
    position: relative;
    top: 130px;
}

#about-header {

    text-align: center;
    font-size: 50px;
    color: navy;
    margin-bottom: 20px;
    text-decoration:dashed underline;
}

#about-text {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    color: white;
    text-align: center;
}

#between-about-work {
    border: 2px dashed navy;
    background: navy;
    position: relative;
    bottom: 20px;
}

#between-resume-contact {
    border: 2px dashed navy;
    background: navy;
    position: relative;
    bottom: 0px;
}

#work-header{
    text-align: center;
    font-size: 50px;
    color: navy;
    margin-bottom: 20px;
    text-decoration: dashed underline;
}

#proj-1-img{
    border: thick double #f0f;
    flex-grow: 2;
}

#proj-1-img:hover{
    box-shadow:
    0 0 20px white,            
    -10px 0 20px navy,        
    10px 0 20px navy; 
    cursor: pointer;        
} 

#proj-2-img{
    border: thick double #f0f;
    flex-grow: 1;
}

#proj-2-img:hover{
    box-shadow:
    0 0 20px white,            
    -10px 0 20px navy,        
    10px 0 20px navy; 
    cursor: pointer;        
} 

#proj-3-img{
    border: thick double #f0f;
    flex-grow: 1;
}

#proj-3-img:hover{
    box-shadow:
    0 0 20px white,            
    -10px 0 20px navy,        
    10px 0 20px navy; 
    cursor: pointer;        
} 
#proj-4-img{
    border: thick double #f0f;
    flex-grow: 1;
}

#proj-4-img:hover{
    box-shadow:
    0 0 20px white,            
    -10px 0 20px navy,        
    10px 0 20px navy; 
    cursor: pointer;        
} 



.outer-container {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    align-items: center;
    flex-wrap: wrap;
    flex: 110px 110px 200px;
    padding: 5px;
}

#proj-1-text {
    position: absolute;
    top: 50%;
    color: white;
    font-weight: bold;
    font-size: 30px;
}

#proj-2-text {
    position: absolute;
    top: 50%;
    color: white;
    font-weight: bold;
    font-size: 30px;
}

#proj-3-text {
    position: absolute;
    top: 50%;
    color: white;
    font-weight: bold;
    font-size: 30px;
}

#proj-4-text {
    position: absolute;
    top: 50%;
    color: white;
    font-weight: bold;
    font-size: 30px;
}



#contact-header {
    font-size: 50px;
    color: navy;
    text-align: center;
    margin-bottom: 30px;
    margin-left: 90px;
    text-decoration: dashed underline;
}

.contact-section {
    display: flex;
    align-items: flex-end;
}


.contact-info li{
    display: inline-flex;
    justify-content: space-between;
    padding: 0px 250px 10px 0px;
    margin-left: 230px;
    font-size: larger;
    color: white;
}


#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 9rem;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

#horiseon {
    color: navy;
}

@media screen and (max-width: 768px){
    main, #navigation, .outer-container, .contact-section {
        flex-direction: column;
    }
}




